
<header class="fixed top-0 w-full bg-blue-600 p-5 z-50">
  <p class="text-white text-center mb-2 font-bold uppercase p-2 text-xs fixed">En Desarrollo!</p>
  <div class="container mx-auto flex items-center">
    <a href="#" class="text-white text-2xl font-bold">SR</a>
    <ul class="flex space-x-4 list-none bg-blue-500 rounded-md px-7 py-2 ml-auto">
      <li>
        <a href="#sobre-mi" class="text-white hover:text-gray-200 ">Sobre mí</a>
      </li>
      <li>
        <a href="#proyectos" class="text-white hover:text-gray-200">Proyectos</a>
      </li>
      <li>
        <a href="#contacto" class="text-white hover:text-gray-200">Contacto</a>
      </li>
      <li>
        <a href="#blog" class="text-white hover:text-gray-200">Blog</a>
      </li>
    </ul>

  </div>
</header>


